@import './templates.css';
@import './vars.css';

body {
  margin: 0;
  padding: 0;
  background: #292929;
}

.tournament {
  line-height: 1.15;
  overflow: scroll;
}

[class*="bracket"] {
  min-width: 100%;
}

[class*="winners"] {
  border-bottom: solid 2px var(--conector-color__gray);
  padding-bottom: 20px;
}

[class*="losers"] {
  margin-top: 20px;
}

.tournament > div {
  display: flex;
  padding: 30px 0 0 20px;
}

.tournament__panel {
  position: absolute;
  background: #2c2c2c;
  height: 100vh;
  right: 0;
  z-index: 2;
  padding: 0 !important;
}

.tournament__icon {
  width: 20px;
  float: left;
  margin-top: -2px;
}

.tournament__panel-input,
.tournament__panel-button {
  display: block;
  margin-top: 20px;
}

.tournament__panel-input {
  height: 158px;
  resize: none;
  outline: none;
}

.tournament__panel-form {
  padding: 20px;
}
.tournament__panel-button {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.tournament__form {
  align-content: center;
  display: flex;
  justify-content: center;
}

.tournament__add-players {
  background: transparent;
  border-radius: 8px;
  border: solid 2px #f44336;
  color: var(--color__white);;
  cursor: pointer;
  font-family: monospace;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
  text-transform: capitalize;
}

.tournament__challenge {
  border-radius: 8px;
  padding: 20px;
  position: relative;
  text-transform: capitalize;
  width: 200px;
}

.tournament__name {
  cursor: pointer;
  font-family: fantasy;
  color: #b6b6b6;
}

.tournament__player {
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  color: var(--color__white);
  padding-left: 10px;
  padding-right: 0;
  padding: 5px;
  text-align: center;
}

.tournament__player,
.tournament__increase-score {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tournament__player:last-child,
.tournament__player:last-child .tournament__increase-score {
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
}

.tournament__increase-score {
   align-items: center;
  background: none;
  border: none;
  color: var(--color__white);
  cursor: pointer;
  display: flex;
  float: right;
  font-size: 14px;
  height: 30.8px;
  justify-content: center;
  left: 5px;
  outline: none;
  position: relative;
  top: -5px;
  width: 32px;
}

.tournament__number {
  color: var(--color__white);
  left: -20px;
  position: relative;
  top: 40px;
 }

.tournament__round {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 300px;
  margin-right: 25px;
}

.tournament__title {
  border-radius: 8px;
  border: solid 2px #673ab7;
  color: #b6b6b6;
  font-family: monospace;
  font-size: 15px;
  margin-left: 16px;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: -20px;
  width: 57%;
}

.tournament__connector {
  align-items: center;
  border: solid 2px var(--conector-color__gray);
  border-left: 0;
  display: flex;
  height: 84px;
  margin-left: 13.3rem;
  margin-top: 49px;
  padding: 20px 4px;
  position: absolute;
}

.tournament__merge {
  border: solid 1px var(--conector-color__gray);
  left: 28px;
  position: relative;
  width: 20px;
}

.tournament__connector::before,
.tournament__connector::after,
.tournament__merge:before {
  border-radius: 50%;
  border: solid 2px #673ab7cf;
  content: "";
  left: -14px;
  padding: 5px;
  position: absolute;
  top: -8px;
  z-index: 1;
}

.tournament__connector::after {
  bottom: -8px;
  top: auto;
}

.tournament__merge:before {
  left: auto;
  right: -15px;
}

.space {
  left: -25px;
}

label {
  color: white;
  font-family: arial;
}
